
#product {padding-left: 392px;}
#buy{
    float: left;
    padding-top: 80px;
    }
.layui-carousel{
    float: left;
}
.site-footer{

    clear: both;
}
.introduce{
    clear: both;
}
.introduce h1{
    font-size: 70px;
}
#buy p{
    padding-bottom: 40px;
    padding-left: 90px;
}
#buy h2{
    padding-bottom: 1px;
    padding-left: 90px;
    font-size: 30px;
}
#goumao{
    padding-left: 150px;
}
.ziti{
    font-size: 15px;
}
.price{
    color:darkorange ;
    font-size: 23px;
}
.layui-tab{
    float: left;
}



/*复选框*/
.gcs-checkbox {
    display: none;
}
.gcs-checkbox+label {
    background-color: white;
    border-radius: 0px;
    border: 1px solid #d3d3d3;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 20px;
}
.gcs-checkbox+label:hover {
    cursor: pointer;
    border: 1px solid #2783FB;
}
.gcs-checkbox:checked+label {
    background-color: #eee;
    background: #2783FB;
}
.gcs-checkbox:checked+label:after {
    content: "\2714";
    color: white;
}
/*单选按钮*/
.gcs-radio {
    display: none;
}
.gcs-radio+label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid gray;
    border-radius: 50%;
}
.gcs-radio+label:hover {
    border: 1px solid #2783FB;
    cursor: pointer;
}
.gcs-radio:checked+label {
    background: #2783FB;
    border: 1px solid #2783FB;
}
.gcs-radio:checked+label:after {
    content: "\2022";
    font-size: 35px;
    color: white;
}
#jieshao{
    float: left;
    padding-left: 90px;
    padding-bottom: 20px;
    color: gray;
}
#jieshaoyanse{
    color:darkorange ;
}



<!--笔记本-->

#d {
   position: absolute;
    left: 200px;
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: #f99;
    transform: translate(0px,0px);
    transition: transform 0ms;
}
