<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>确认订单</title>
    <link href="http://182.92.194.216:2202/PGStatic/dingdan/css/public.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://182.92.194.216:2202/PGStatic/dingdan/css/base.css"/>
    <script type="text/javascript" src="http://182.92.194.216:2202/PGStatic/dingdan/js/jquery_cart.js"></script>
    <link rel="stylesheet" type="text/css" href="http://182.92.194.216:2202/PGStatic/dingdan/css/checkOut.css"/>
    <script type="text/javascript" src="http://127.1:81/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="http://182.92.194.216:2202/GodStatic/css/style.css"/>
    <link rel="stylesheet" href="http://182.92.194.216:2202/PGStatic/layui/css/layui.css" media="all">
</head>
<header>
    <div>
        <div id="top">
            <ul id="top_lt">
                <li><a href="">小米商城</a></li>
                <li><a href="">MIUI</a></li>
                <li><a href="">米聊</a></li>
                <li><a href="">游戏</a></li>
                <li><a href="">多看阅读</a></li>
                <li><a href="">云服务</a></li>
                <li><a href="">金融</a></li>
                <li><a href="">小米网移动版</a></li>
                <li><a href="">问题反馈</a></li>
                <li><a href="">Select&nbsp;Region</a></li>
            </ul>
            <div id="top_rt" class="rt">
                <span id="User">

                </span>
                <a href="">消息通知</a>
                <a href="">我的订单</a>
                <p class="rt">
                    <b></b>
                    <a href="http://127.0.0.1:81/ShoppingCart.html">购物车</a>
                    <i>(0)</i>
                </p>
            </div>
        </div>
    </div>
</header>
<style>


    .tp {
        padding-left: 20px;
        padding-top: 20px;
    }

    .xj {
        position: relative;
        left: 885px;
        top: -85px;
    }

    .xh {
        position: relative;
        left: 85px;
        top: -25px;
    }

    .sl {
        position: relative;
        left: 990px;
        top: -63px;
    }

    .dj {
        position: relative;
        left: 1090px;
        top: -42px;
    }

    .shouhuo1 {
        border: 1px silver solid;
        width: 240px;
        height: 170px;
        float: left;
        list-style: none;
        margin: 0 10px;
    }

    .shouhuo1 span {
        padding-left: 10px;
        font-size: 13px;
    }

    .shouhuo1 span li {
        margin: 20px 12px;
        display: inline;
    }

    .moren {
        font-size: 10px;
        position: relative;
        left: 175px;
        color: silver;
    }
</style>
<body>


<div class="banner_red_top">


</div>


<!--收货地址body部分开始-->
<div class="border_top_cart">
    <script type="text/javascript">
        var checkoutConfig = {
            addressMatch: 'common',
            addressMatchVarName: 'data',
            hasPresales: false,
            hasBigTv: false,
            hasAir: false,
            hasScales: false,
            hasGiftcard: false,
            totalPrice: 244.00,
            postage: 10,//运费
            postFree: true,//活动是否免邮了
            bcPrice: 150,//计算界值
            activityDiscountMoney: 0.00,//活动优惠
            showCouponBox: 0,
            invoice: {
                NA: "0",
                personal: "1",
                company: "2",
                electronic: "4"
            }
        };
        var miniCartDisable = true;
    </script>
    <div class="container">
        <div class="checkout-box">
            <form id="checkoutForm" action="#" method="post">
                <div class="checkout-box-bd">
                    <!-- 地址状态 0：默认选择；1：新增地址；2：修改地址 -->
                    <input type="hidden" name="Checkout[addressState]" id="addrState" value="0">

                    <!-- 收货地址 -->
                    <div class="xm-box">
                        <div class="box-hd ">
                            <h2 class="title">收货地址</h2>
                            <!---->
                        </div>


                        <ul class="shouhuo1" th:each="a,nsStat:${address}">
                            <span th:if="${a.getMr_default()}==1" class="moren">默认地址</span><br/>
                            <span>收货姓名:<li th:text="${a.getMr_name()}">姓名:</li></span><br/><br/>
                            <span>联系电话:<li th:text="${a.getMr_mobile()}">联系电话:</li></span><br/><br/>
                            <span>所在地区:<li th:text="${a.getMr_address()}">所在地区:</li></span><br/><br/>
                            <span>详情地址:<li th:text="${a.getMr_detail_address()}">详情地址:</li></span>
                        </ul>

                        <!-- 收货地址 END-->
                        <div style="clear: both"></div>

                        <div id="checkoutPayment">
                            <!-- 支付方式 -->
                            <div class="xm-box">
                                <div class="box-hd ">
                                    <h2 class="title">支付方式</h2>
                                </div>
                                <div class="box-bd">
                                    <ul id="checkoutPaymentList" class="checkout-option-list clearfix J_optionList">
                                        <li class="item selected">
                                            <input type="radio" name="Checkout[pay_id]" checked="checked" value="1">
                                            <p>
                                                在线支付 <span></span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 支付方式 END-->
                            <div class="xm-box">
                                <div class="box-hd ">
                                    <h2 class="title">配送方式</h2>
                                </div>
                                <div class="box-bd">
                                    <ul id="checkoutShipmentList" class="checkout-option-list clearfix J_optionList">
                                        <li class="item selected">
                                            <input type="radio" data-price="0" name="Checkout[shipment_id]"
                                                   checked="checked" value="1">
                                            <p>
                                                快递配送（免运费） <span></span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 配送方式 END-->                    <!-- 配送方式 END-->
                        </div>

                        <!-- 发票信息 -->
                        <div id="checkoutInvoice">
                            <div class="xm-box">
                                <div class="box-hd">
                                    <h2 class="title">发票信息</h2>
                                </div>
                                <div class="box-bd">
                                    <ul class="checkout-option-list checkout-option-invoice clearfix J_optionList J_optionInvoice">
                                        <li class="hide">
                                            电子个人发票4
                                        </li>
                                        <li class="item selected">
                                            <!--<label><input type="radio"  class="needInvoice" value="0" name="Checkout[invoice]">不开发票</label>-->
                                            <input type="radio" checked="checked" value="4" name="Checkout[invoice]">
                                            <p>电子发票（非纸质）</p>
                                        </li>
                                        <li class="item ">
                                            <input type="radio" value="1" name="Checkout[invoice]">
                                            <p>普通发票（纸质）</p>
                                        </li>
                                    </ul>
                                    <p id="eInvoiceTip" class="e-invoice-tip ">
                                        电子发票是税务局认可的有效凭证，可作为售后维权凭据，不随商品寄送。开票后不可更换纸质发票，如需报销请选择普通发票。<a
                                            href="http://bbs.xiaomi.cn/thread-9285999-1-1.html"
                                            target="_blank">什么是电子发票？</a>
                                    </p>
                                    <div class="invoice-info nvoice-info-1" id="checkoutInvoiceElectronic"
                                         style="display:none;">

                                        <p class="tip">电子发票目前仅对个人用户开具，不可用于单位报销 ，不随商品寄送</p>
                                        <p>发票内容：购买商品明细</p>
                                        <p>发票抬头：个人</p>
                                        <p>
                                            <span class="hide"><input type="radio" value="4"
                                                                      name="Checkout[invoice_type]" checked="checked"
                                                                      id="electronicPersonal"
                                                                      class="invoiceType"></span>
                                        <dl>
                                            <dt>什么是电子发票?</dt>
                                            <dd>&#903; 电子发票是纸质发票的映像，是税务局认可的有效凭证，与传统纸质发票具有同等法律效力，可作为售后维权凭据。</dd>
                                            <dd>&#903; 开具电子服务于个人，开票后不可更换纸质发票，不可用于单位报销。</dd>
                                            <dd>&#903; 您在订单详情的"发票信息"栏可查看、下载您的电子发票。<a
                                                    href="http://bbs.xiaomi.cn/thread-9285999-1-1.html" target="_blank">什么是电子发票？</a>
                                            </dd>
                                        </dl>
                                        </p>
                                    </div>
                                    <div class="invoice-info invoice-info-2" id="checkoutInvoiceDetail"
                                         style="display:none;">
                                        <p>发票内容：购买商品明细</p>
                                        <p>
                                            发票抬头：请确认单位名称正确,以免因名称错误耽搁您的报销。注：合约机话费仅能开个人发票
                                        </p>
                                        <ul class="type clearfix J_invoiceType">
                                            <li class="hide">
                                                <input type="radio" value="0" name="Checkout[invoice_type]"
                                                       id="noNeedInvoice">
                                            </li>
                                            <li class="">
                                                <input class="invoiceType" type="radio" id="commonPersonal"
                                                       name="Checkout[invoice_type]" value="1">
                                                个人
                                            </li>
                                            <li class="">
                                                <input class="invoiceType" type="radio" name="Checkout[invoice_type]"
                                                       value="2">
                                                单位
                                            </li>
                                        </ul>
                                        <div id='CheckoutInvoiceTitle' class=" hide  invoice-title">
                                            <label for="Checkout[invoice_title]">单位名称：</label>
                                            <input name="Checkout[invoice_title]" type="text" maxlength="49" value=""
                                                   class="input"> <span class="tip-msg J_tipMsg"></span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 发票信息 END-->
                    </div>
                    <div class="checkout-box-ft">
                        <!-- 商品清单 -->
                        <div id="checkoutGoodsList" class="checkout-goods-box">
                            <div class="xm-box">
                                <div class="box-hd">
                                    <h2 class="title">确认订单信息</h2>
                                </div>
                                <div class="box-bd">
                                    <dl class="checkout-goods-list">
                                        <dt class="clearfix">
                                            <span class="col col-1">商品名称</span>
                                            <span class="col col-2">购买价格</span>
                                            <span class="col col-3">购买数量</span>
                                            <span class="col col-4">小计（元）</span>
                                        </dt>

                                        <dd class="item clearfix" th:each="d,nsStat:${dingdan}"
                                            th:class="${nsStat.odd}?'odd'">
                                            <div class="item-row">
                                                <div class="col col-1">

                                                    <div class="shoppingcartsp">
                                                        <div class="tp">
                                                            <input th:value="${d.pid}" type="hidden" class="pid"/>
                                                            <image th:src="${d.image}" width="40" height="40"
                                                                   class="tupian"></image>
                                                            <div th:text="${d.mp_name}+'   ('+${d.xinghao}+')'"
                                                                 class="xh"></div>
                                                            <div th:text="${d.dj}" class="dj"></div>
                                                            <div th:text="${d.number}" class="sl"></div>
                                                            <div th:text="${d.price}" class="xj"></div>
                                                        </div>

                                                    </div>
                                                </div>

                                        </dd>


                                    </dl>
                                    <div class="checkout-count clearfix">

                                        <!-- checkout-count-extend -->
                                        <div class="checkout-price">
                                            <ul>

                                                <li>
                                                    订单总额：<span th:text="${sum}">244元</span>
                                                </li>
                                                <li>
                                                    活动优惠：<span>-0元</span>
                                                    <script type="text/javascript">
                                                        checkoutConfig.activityDiscountMoney = 0;
                                                        checkoutConfig.totalPrice = 244.00;
                                                    </script>
                                                </li>
                                                <li>
                                                    优惠券抵扣：<span id="couponDesc">-0元</span>
                                                </li>
                                                <li>
                                                    运费：<span id="postageDesc">0元</span>
                                                </li>
                                            </ul>
                                            <p class="checkout-total">应付总额：<span th:text="${sum}"
                                                                                 style="font-size: 25px"
                                                                                 class="sum"><strong
                                                    id="totalPrice">244</strong></span>元</p>
                                        </div>
                                        <!--  -->
                                    </div>
                                </div>
                                <!-- 商品清单 END -->
                                <input type="hidden" id="couponType" name="Checkout[couponsType]">
                                <input type="hidden" id="couponValue" name="Checkout[couponsValue]">
                                <div class="checkout-confirm">

                                    <a href="http://127.0.0.1:81/ShoppingCart.html"
                                       class="btn btn-lineDakeLight btn-back-cart">返回购物车</a>
                                    <button type="button" class="layui-btn3 layui-btn-primary"
                                            style="width: 200px;height: 40px"><h3><strong>立即下单</strong></h3></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <form id="sub" action="/cart/generatingOrders" method="post" style="display: none">
                <input typ="hidden" name="mr_name" value=""/>
                <input typ="hidden" name="mr_address" value=""/>
                <input typ="hidden" name="mr_addressDetail" value=""/>
                <input typ="hidden" name="mr_mobile" value=""/>
                <input typ="hidden" name="mo_type" value="1"/>
                <input typ="hidden" name="mo_sum" value=""/>
            </form>

        </div>


        <script src="http://182.92.194.216:2202/PGStatic/dingdan/js/base.min.js"></script>

        <script type="text/javascript" src="http://182.92.194.216:2202/PGStatic/dingdan/js/address_all.js"></script>
        <script type="text/javascript" src="http://182.92.194.216:2202/PGStatic/dingdan/js/checkout.min.js"></script>
    </div>
</div>


<!--收货地址body部分结束-->


<!-- 底部 -->

<div class="fixed-buttons">
    <ul>
        <li><a href="#" class="fixed-weixin"><img src="images/fixed_weixin.png"/>
            <div class="weixin-pic"><img src="images/weixin_big.jpg"></div>
        </a></li>
        <li><img id="imgBtn-to-top" src="images/back_top.png"/></li>
    </ul>
</div>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://182.92.194.216:2202/PGStatic/js/unslider.min.js" type="text/javascript"></script>
<script src="http://182.92.194.216:2202/PGStatic/js/index.js" type="text/javascript"></script>
</body>
<script src="http://182.92.194.216:2202/PGStatic/layui/layui.all.js"></script>
<script type="text/javascript">
    var name;//收货姓名
    var dizhi;//详情收获地址
    var quyu;//收货区域
    var dianhua;//联系电话
    var sum = $('.sum').text();//订单商品总金额
    var list;
    $(".shouhuo1").click(function () {//选择收货地址
        $(this).css("border-color", "red");//修改选择的地址边框颜色
        $(this).siblings().css("border-color", "#999");
        name = $(this).find("li:eq(0)").text();//收货人姓名
        quyu = $(this).find("li:eq(2)").text();//收货区域
        dianhua = $(this).find("li:eq(1)").text();//联系电话
        dizhi = $(this).find("li:eq(3)").text();//详情收获地址
    });


    $('.layui-btn3').click(function () {
        //list = [name, dizhi, quyu, dianhua, sum];
        $("input[name=mr_name]").val(name);//收货人姓名
        $("input[name=mr_address]").val(quyu);//收货人地址
        $("input[name=mr_addressDetail]").val(dizhi);//收货人详细地址
        $("input[name=mr_mobile]").val(dianhua);//收货人手机号
        $("input[name=mo_sum]").val(sum);//总金额
        if(name==""){//没有收入姓名说明没有选中收货地址
            layer.msg("请选择一个收货地址");
        }else {
            $("#sub").submit();
        }


        /*        $.ajax({
                    url:'/cart/generatingOrders',
                    type:'post',
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify(list),
                    dataType:"html",
                    success:function (data) {
                        alert(data);
                        $("html").html(data);
                    }
                });*/
    })
    function loginOut() {
        $.ajax({
            url:'/loginOut/User',
            type:'post',
            success:function (data) {
                if(data.flag){
                    window.location.href='http://127.0.0.1:81/login.html';
                }
            }
        });
    }
    $(function () {
        $.ajax({
            url: '/getUser',
            type: 'post',
            success: function (data) {
                if (data) {
                    var user = "<a href='/User/getUser/PersonalCenter'>"+data.mu_user_name+"</a><a  onclick='loginOut()'>退出登录</a>";
                } else {
                    var user = "<a href='http://127.0.0.1:81/login.html'>登录</a><a href='http://127.0.0.1:81/register.html'>注册</a>";
                }
                $("#User").append(user);
            }
        });
    })
</script>
</html>
