<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="context" style="width: 99%;height: 605px;">
    <form>
        <table border="1" cellspacing="0" cellpadding="0" width="100%" style="height: 605px">
            <tr style="height: 50px">
                <td width="10%">商品名称</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>商品描述</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>商品价格</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>商品图片</td>
                <td><input type="file"/></td>
            </tr>
            <tr>
                <td>商品型号图片</td>
                <td><input type="file"/></td>
            </tr>
            <tr>
                <td>型号介绍</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>商品详情图片</td>
                <td><input type="file"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>