<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>买来乐</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link href="http://182.92.194.216:2202/PGPengStatic/layui/css/layui.css" rel="stylesheet" media="all">
    <!--<script src="https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc"></script>--></head>
    <script type="text/javascript" src="http://182.92.194.216:2202/PGPengStatic/js/jquery-1.8.3.min.js"></script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">买来乐 后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a class="aa" src="alluserinfo.html" href="javascript:void(0)">基本资料</a></li>
            <span class="layui-nav-bar" style="left: 266px; top: 55px; width: 0px; opacity: 0;"></span></ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <!--<a id="info" href="javascript:void(0)">-->
                    <img class="layui-nav-img" src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                    贤心
                    <!--<span class="layui-nav-more"></span>--><!--</a>-->
                <!--<dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>-->
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
            <span class="layui-nav-bar" style="left: 76px; top: 55px; width: 0px; opacity: 0;"></span></ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" >
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">商品管理<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a class="aa" src="allcommodity.html" href="javascript:void(0)">所有商品</a></dd>
                        <dd><a class="aa" src="addcommodity.html" href="javascript:void(0)">新增商品</a></dd>
                        <!--<dd><a class="aa" src="tree.html" href="javascript:void(0)">树页面</a></dd>
                        <dd><a class="aa" src="datagrid2.html" href="javascript:void(0)">用户管理</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">管理<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">1</a></dd>
                        <dd><a href="javascript:;">2</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a class="aa" src="allorder.html" href="javascript:void(0)">订单</a></li>
                <li class="layui-nav-item"><a href="">广告</a></li>
                <span class="layui-nav-bar"></span></ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div id="tt" style="padding: 10px;">

        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright MLL@stillloveyou.xyz
    </div>
</div>
<script src="http://182.92.194.216:2202/PGPengStatic/layui/layui.js" charset="utf-8"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
    $(function(){
        $('.aa').click(function() {
            var $this = $(this);
            var href = $this.attr('src');
            var title = $this.html();
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+href+'" style="width:100%;height:623px;"></iframe>';
            $('#tt').html(content)
        });

        $('#up').click(function() {
            var tab = $('#tt').tabs('getSelected');
            $('#tt').tabs('update', {
                tab: tab,
                options: {
                    title: '新标题',
                    content:'<iframe scrolling="auto" frameborder="0"  src="select.html" style="width:100%;height:100%;"></iframe>'
                }
            });
        });
        //使用Panel中继承的方法
        $('#rf').click(function() {
            var tab = $('#tt').tabs('getSelected');
            //使用页面或action刷新tab
            tab.panel('refresh', 'refresh.html');
        });
    });
</script>
<!--<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->


</body></html>